<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJQDhKStITmc03YBw1JyRbl2OyC-_4Svs</string>
	<key>GCM_SENDER_ID</key>
	<string>221472489681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ranjyBrayan</string>
	<key>PROJECT_ID</key>
	<string>ranjy-brayan</string>
	<key>STORAGE_BUCKET</key>
	<string>ranjy-brayan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221472489681:ios:8816b19a1f35d7e115c5f0</string>
</dict>
</plist>